#app .navbar-finalstyle #main-menu ul li a{
    color: #000;
}
#app .navbar-finalstyle .form-select-lang{
    color: #625B5B;
}
#app .navbar-finalstyle .form-select-lang select{
    color: #625B5B;
}
.top-content-promotion{
    padding-top: 176px;
    .title-page{
        font-family: SVN-SVN-A-Love-Of-Thunder;
        color: #E91A22;
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom: 45px;
        text-align: center;
    }
}
.list-news-home{
    .article-item{
        padding: 0 24px;
        margin-bottom: 48px;
        .article-item-content{
            border-radius: 8px;
            background: #FBF1D9;
            backdrop-filter: blur(4px);
            overflow: hidden;
            .box-content-article{
                color: #000;
                padding: 24px;
                .calendar-new{
                    font-size: 14px;
                    margin-bottom: 0px;
                    color: #000;
                    .btn-detail-article{
                        background: #E91A22;
                        border-radius: 8px;
                        padding: 7px 20px;
                        color: #fff;
                    }
                }
                .title-article{
                    overflow: hidden;
                    color: #000;
                    text-overflow: ellipsis;
                    whitespace: nowrap;
                    font-family: GoogleSans-Bold;
                    margin-bottom: 12px;
                }
            }
        }
    }
}
.list-article-home{
    .article-item{
        margin-bottom: 24px;
        .article-item-content{
            .image-other-article{
                display: block;
                margin-bottom: 16px;
                img{
                    border-radius: 8px;
                    overflow: hidden;
                }
            }
            .box-content-article{
                .title-article{
                    overflow: hidden;
                    color: #000;
                    text-overflow: ellipsis;
                    whitespace: nowrap;
                    font-family: GoogleSans-Bold;
                    margin-bottom: 16px;
                }
                .title-article-main{
                    font-size: 32px;
                }
                .title-article-normal{
                    font-size: 24px;
                }
                .calendar-new{
                    font-size: 14px;
                    margin-bottom: 16px;
                    color: #938D8D;
                }
                .des-article-related{
                    overflow: hidden;
                    color: #625B5B;
                    leading-trim: both;
                    text-edge: cap;
                    text-overflow: ellipsis;
                    whitespace: nowrap;
                    font-size: 14px;
                }
                .des-article-related-nomal, .calendar-new-normal{
                    font-size: 16px;
                }
            }
        }
    }
}
