#app .navbar-finalstyle #main-menu ul li a{
    color: #000;
}
#app .navbar-finalstyle .form-select-lang{
    color: #625B5B;
}
#app .navbar-finalstyle .form-select-lang select{
    color: #625B5B;
}
.top-content-promotion{
    padding-top: 80px;
    .title-page{
        font-family: SVN-SVN-A-Love-Of-Thunder;
        color: #E91A22;
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom: 45px;
        text-align: center;
    }
}
.list-news-home{
    .article-item{
        padding: 0 24px;
        margin-bottom: 48px;
        .article-item-content{
            border-radius: 8px;
            background: #FBF1D9;
            backdrop-filter: blur(4px);
            overflow: hidden;
            .box-content-article{
                color: #000;
                padding: 24px;
                .calendar-new{
                    font-size: 14px;
                    margin-bottom: 0px;
                    color: #000;
                    .btn-detail-article{
                        background: #E91A22;
                        border-radius: 8px;
                        padding: 7px 20px;
                        color: #fff;
                    }
                }
                .title-article{
                    overflow: hidden;
                    color: #000;
                    text-overflow: ellipsis;
                    whitespace: nowrap;
                    font-family: GoogleSans-Bold;
                    margin-bottom: 12px;
                    max-height: 48px;
                    font-size: 16px;
                    line-height: revert;
                }
            }
            img{
                transition: transform 0.3s ease-in-out;
            }
            &:hover{
                background: var(--surface-white, #FFF);
                box-shadow: 8px 8px 48px 0px rgba(0, 0, 0, 0.12);
                .box-content-article{
                    .title-article{
                        color: #E91A22;
                    }
                }
                img{
                    transform: scale(1.2);
                }
            }
        }
    }
    .pagination{
        justify-content: center;
    }
}
.list-article-home{
    @media (min-width: 768px) {
        .big-article{
            width: 55%;
            .article-item{
                .article-item-content{
                    .image-other-article{
                        margin-bottom: 36px;
                    }
                }
            }
        }
        .small-article{
            width: 45%;
            .article-item{
                margin-bottom: 20px;
                .article-item-content{
                    .box-content-article{
                        .title-article{
                            height: 17px;
                        }
                        .calendar-new{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }

    .article-item{
        margin-bottom: 17px;
        .article-item-content{
            .image-other-article{
                display: block;
                margin-bottom: 16px;
                overflow: hidden;
                border-radius: 8px;
                img{
                    border-radius: 8px;
                    overflow: hidden;
                    width: 100%;
                    transition: transform 0.3s ease-in-out;
                }
            }
            .box-content-article{
                .title-article{
                    overflow: hidden;
                    color: #000;
                    text-overflow: ellipsis;
                    whitespace: nowrap;
                    font-family: GoogleSans-Bold;
                    margin-bottom: 14px;
                    max-height: 39px;
                    font-size: 16px;
                }
                .title-article-main{
                    font-size: 32px;
                }
                .title-article-normal{
                    font-size: 24px;
                }
                .calendar-new{
                    font-size: 14px;
                    margin-bottom: 14px;
                    color: #938D8D;
                }
                .des-article-related{
                    overflow: hidden;
                    color: #625B5B;
                    leading-trim: both;
                    text-edge: cap;
                    text-overflow: ellipsis;
                    whitespace: nowrap;
                    font-size: 14px;
                    height: 62px;
                    line-height: 148%;
                }
                .des-article-related-nomal, .calendar-new-normal{
                    font-size: 16px;
                }
                .des-article-related-nomal{
                    height: 73px;
                }
            }
        }
        &:hover{
            .article-item-content{
                .image-other-article{
                    img{
                        transform: scale(1.2);
                    }
                }
                .box-content-article{
                    .title-article{
                        color: #E91A22;
                    }
                    .title-article-main{
                    }
                    .title-article-normal{
                    }
                    .calendar-new{
                    }
                    .des-article-related{
                    }
                    .des-article-related-nomal, .calendar-new-normal{
                    }
                    .des-article-related-nomal{
                    }
                }
            }
        }
    }
}
