.content-detail {
  .image-banner {
    height: 220px;
    display: flex;
    align-items: center;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      margin: 0 auto;
    }
  }

  .box-content-detail {
    padding: 80px 0;
    @media (max-width: 768px) {
      padding: 40px 0;
    }
  }
}

.modal-backdrop {
  display: none;
}

.modal-dialog {
  max-width: 850px;
}

.modal {
  background: rgba(26, 3, 4, 0.9);
  opacity: 1;
}

.modal-header,
.modal-body {
  background: rgba(26, 3, 4, 0.9);
  border: none;
}

.btn-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3e%3cpath d='M30 10L10 30' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M10 10L30 30' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e") center/1em auto no-repeat;
  color: #fff !important;
  font-size: 20px;
}

.image-bg {
  position: relative;

  img {
    width: 100%;
  }

  .text-absolute {
    position: absolute;
    top: 35%;
    z-index: 1;

    .text {
      color: #fff;
      text-align: center;
      font-family: GoogleSans-Bold;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 200%;
      /* 36px */
      padding-bottom: 40px;
      margin: 0 auto;
      width: 70%;

      @media screen and (min-width: 768px) and (max-width: 1200px) {
        font-size: 15px;
        padding-bottom: 20px;
      }
    }

    .text-2 {
      color: #e4a812;
      text-align: center;
      font-family: SVN-Bear;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 0;

      @media screen and (min-width: 768px) and (max-width: 1200px) {
        font-size: 40px;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) {
      top: 24%;
    }
  }

  .img-icon-yt {
    position: absolute;
    top: 70%;
    left: 45%;

    @media (max-width: 768px) {
      top: 30%;
      left: 30%;
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) {
      left: 40%;
    }
  }
}
@media(max-width:768px){
  .ve-chung-toi{
    font-size: 30px !important;
  }
}
.bg-vang {
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  .franchise-title {
    color: #e91a22;
    text-align: center;
    font-family: SVN-SVN-A-Love-Of-Thunder;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }

  a {
    position: absolute;
    top: 50%;
    left: 45%;

    @media (max-width: 768px) {
      left: 35%;
      top: 52%;
    }
  }
}