@import "fonts";
@import "variables";
body{
    background-color: #fff;
    font-family: $font-family-sans-serif;
    font-size: 16px;
}
a{
    text-decoration: unset;
    &:hover{
        color: #BC2330;
    }
}
#app{
    position: relative;
    overflow-x: hidden;
    .navbar-finalstyle{
        z-index: 3;
        .navbar-brand{
            .logo-fs{
                max-height: 64px;
            }
        }
        #main-menu{
            ul{
                margin: 0;
                li{
                    display: inline-block;
                    a{
                        color: #FFF;
                        font-family: HelveticaNeue-Bold;
                        &:hover{
                            color: #FFF;
                        }
                    }
                    &:hover{
                        a{
                            color: #BC2330;
                        }
                    }
                }
            }
        }
    }
    .main-footer{
        background: linear-gradient(180deg, #800E13 0%, #620B0E 100%);
    }
}

