#app .navbar-finalstyle {
  position: fixed;
  width: 100%;
}
#app .navbar-finalstyle #main-menu ul li a {
  color: #fff;
}
#app .navbar-finalstyle .form-select-lang {
  color: #fff;
}
@media (min-width: 768px) {
  #app .navbar-finalstyle .form-select-lang {
    white-space: nowrap;
  }
}
#app .navbar-finalstyle .form-select-lang select {
  color: #fff;
}
#app .navbar-finalstyle .form-select-lang select option {
  color: #fff;
}
#app .active-menu {
  background: #fff;
}
#app .active-menu #main-menu ul li a {
  color: #000;
}
#app .active-menu .form-select-lang {
  color: #625b5b;
}
#app .active-menu .form-select-lang select {
  color: #625b5b;
}
#app .active-menu .form-select-lang select option {
  color: #625b5b;
}

.top-content {
  margin-bottom: 88px;
}
.top-content img {
  margin: 0 auto;
}
.top-content .slide-home .slick-next {
  z-index: 1;
  right: 65px;
}
.top-content .slide-home .slick-next svg rect:hover {
  fill: #e91a22;
  fill-opacity: 100%;
}
.top-content .slide-home .slick-next::before {
  content: "";
}
.top-content .slide-home .slick-prev {
  left: 35px;
  z-index: 1;
}
.top-content .slide-home .slick-prev svg rect:hover {
  fill: #e91a22;
  fill-opacity: 100%;
}
.top-content .slide-home .slick-prev:before {
  content: "";
}
.top-content .slide-home .btn-slider {
  top: 60%;
  bottom: 50%;
  left: 19%;
}
.top-content .slide-home .btn-slider li {
  text-align: center;
}
.top-content .slide-home .btn-slider li a {
  font-family: GoogleSans-Bold;
  text-transform: uppercase;
  display: block;
  padding: 10px 24px;
}
@media (max-width: 768px) {
  .top-content .slide-home .btn-slider {
    display: none;
  }
}
.top-content .slider-nav-slide-home {
  margin-top: -80px;
}
.top-content .slider-nav-slide-home .slick-list {
  padding-top: 20px;
}
.top-content .slider-nav-slide-home .img-slide-item {
  padding: 0 8px;
}
.top-content .slider-nav-slide-home .slick-active img {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  overflow: hidden;
}
.top-content .slider-nav-slide-home .slick-current {
  margin-top: -20px;
}
.top-content .slider-nav-slide-home .slick-current img {
  border: 2px solid #f3d792;
}
@media (max-width: 768px) {
  .top-content .slider-nav-slide-home {
    display: none;
  }
}
@media (max-width: 768px) {
  .top-content {
    margin-bottom: 40px;
  }
}

.page-about {
  margin-bottom: 120px;
}
.page-about .img-about img {
  border-radius: 30px;
  overflow: hidden;
}
.page-about .content-home-page .hashtag-about {
  color: #e4a812;
  font-family: SVN-SVN-A-Love-Of-Thunder;
  margin-bottom: 20px;
  font-size: 20px;
  font-style: normal;
  text-transform: uppercase;
}
.page-about .content-home-page .title-about {
  font-family: SVN-SVN-A-Love-Of-Thunder;
  color: #e91a22;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 48px;
}
@media (max-width: 768px) {
  .page-about .content-home-page .title-about {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.page-about .content-home-page .about-description {
  color: #625b5b;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .page-about .content-home-page .about-description {
    margin-bottom: 20px;
  }
}
.page-about .content-home-page .btn-see-about {
  background: #e91a22;
  border-radius: 8px;
  padding: 10px 24px;
  color: #fff;
}
.page-about .content-home-page .btn-see-about:hover {
  background: #a51218;
}
@media (max-width: 768px) {
  .page-about {
    margin-bottom: 50px;
  }
}

.box-order {
  background: url(/images/bg-order.jpg?abc302b7ec4ae570eeeccafb71aa8a27) no-repeat center top;
  background-size: cover;
  padding: 120px 0;
}
@media (max-width: 768px) {
  .box-order .ps-5 {
    padding-left: 1rem !important;
  }
}
.box-order .title-order {
  color: #e9b941;
  font-family: SVN-SVN-A-Love-Of-Thunder;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .box-order .title-order {
    font-size: 30px;
    text-align: center;
  }
}
.box-order .product-home #myTabProduct {
  border: none;
  margin-bottom: 36px;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-y: hidden;
  padding-bottom: 5px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.box-order .product-home #myTabProduct::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
.box-order .product-home #myTabProduct::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}
.box-order .product-home #myTabProduct::-webkit-scrollbar-thumb {
  background: #c1bdbd;
  border-radius: 10px;
}
.box-order .product-home #myTabProduct::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.box-order .product-home #myTabProduct li {
  margin-right: 8px;
}
.box-order .product-home #myTabProduct li .nav-link {
  border: none;
  border-radius: 8px;
  background: rgba(26, 3, 4, 0.12);
  padding: 8px 16px;
  color: #fde8e9;
  font-size: 14px;
  text-transform: uppercase;
}
.box-order .product-home #myTabProduct li .active {
  background: #a51218;
}
.box-order .product-home #myTabContentProduct .item-product {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.28);
  margin-bottom: 16px;
  padding: 16px;
}
@media (min-width: 768px) {
  .box-order .product-home #myTabContentProduct .item-product > a {
    width: 120px;
    height: 90px;
    overflow: hidden;
  }
}
.box-order .product-home #myTabContentProduct .item-product > a img {
  max-width: 120px;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}
.box-order .product-home #myTabContentProduct .item-product .info-title-product {
  width: 70%;
}
.box-order .product-home #myTabContentProduct .item-product .info-title-product .left-hover-product {
  transition: transform 0.3s ease-in-out;
  display: flex;
}
.box-order .product-home #myTabContentProduct .item-product .info-title-product .left-hover-product p {
  margin-bottom: 0;
  max-height: 26px;
  overflow: hidden;
}
.box-order .product-home #myTabContentProduct .item-product .info-title-product .left-hover-product .title-product-box {
  color: #fde8e9;
  font-family: GoogleSans-Bold;
  text-transform: uppercase;
}
.box-order .product-home #myTabContentProduct .item-product .info-title-product .left-hover-product .price-product-box {
  color: #e9b941;
  text-align: right;
  font-size: 18px;
  font-family: GoogleSans-Bold;
  transition: text-align 0.3s ease-in-out;
}
.box-order .product-home #myTabContentProduct .item-product .info-title-product .right-hover-product {
  transition: display 0.3s ease-in-out;
  display: none;
}
@media (max-width: 768px) {
  .box-order .product-home #myTabContentProduct .item-product .info-title-product {
    width: 100%;
    display: block;
    margin-left: 20px;
  }
  .box-order .product-home #myTabContentProduct .item-product .info-title-product .left-hover-product .price-product-box {
    text-align: left;
  }
}
.box-order .product-home #myTabContentProduct .item-product:hover {
  background: rgba(55, 6, 8, 0.8);
}
.box-order .product-home #myTabContentProduct .item-product:hover img {
  transform: scale(1.2);
}
.box-order .product-home #myTabContentProduct .item-product:hover .info-title-product {
  display: flex;
  justify-content: space-between;
}
.box-order .product-home #myTabContentProduct .item-product:hover .info-title-product .left-hover-product {
  display: flex;
  flex-wrap: wrap;
}
.box-order .product-home #myTabContentProduct .item-product:hover .info-title-product .left-hover-product .price-product-box {
  text-align: left;
}
.box-order .product-home #myTabContentProduct .item-product:hover .info-title-product .right-hover-product {
  display: block;
  text-align: right;
}
.box-order .product-home #myTabContentProduct .item-product:hover .info-title-product .right-hover-product a:first-child {
  margin-bottom: 12px;
  width: 120px;
}
.box-order .product-home #myTabContentProduct .see-all-product {
  border-radius: 8px;
  background: rgba(26, 3, 4, 0.12);
  padding: 15px 24px;
  font-size: 14px;
  color: #fff;
  display: inline-block;
}
.box-order .des-order {
  color: #f59699;
  margin-bottom: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 168%;
}
.box-order .des-order b {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 168%;
}
.box-order form input,
.box-order form select,
.box-order form textarea {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.16);
  border: none;
  padding: 12px 20px;
  margin-bottom: 15px;
  color: #fde8e9;
}
.box-order form input::-webkit-input-placeholder,
.box-order form select::-webkit-input-placeholder,
.box-order form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3215686275);
}
.box-order form input:focus,
.box-order form select:focus,
.box-order form textarea:focus {
  background-color: unset;
  color: #fde8e9;
}
.box-order form input:focus-visible,
.box-order form select:focus-visible,
.box-order form textarea:focus-visible {
  background-color: unset;
  color: #fde8e9;
}
.box-order form input[type=date] {
  color: #fde8e9;
}
.box-order form input[type=date]:focus {
  background-color: #fff;
  color: #000;
}
.box-order form select {
  color: #fde8e9;
}
.box-order form select:focus {
  background-color: #fff;
  color: #000;
}
.box-order form option[value=""][disabled] {
  display: none;
  color: #fff;
}
.box-order form option {
  color: #222222;
}
.box-order form .btn-order-now {
  width: 100%;
  text-align: center;
  border-radius: 8px;
  background: var(--primary-primary-500, #e91a22);
  box-shadow: 24px 24px 64px 0px rgba(233, 26, 34, 0.32);
  color: #fff;
  text-transform: uppercase;
  padding: 15px;
}
.box-order form .btn-order-now:hover {
  background: #a51218;
}
@media (max-width: 768px) {
  .box-order form select {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .box-order {
    padding: 50px 0;
  }
}

.box-media {
  padding: 120px 0;
}
.box-media .content-home-page .hashtag-about {
  color: #e4a812;
  font-family: SVN-SVN-A-Love-Of-Thunder;
  margin-bottom: 20px;
  font-size: 20px;
  font-style: normal;
  text-transform: uppercase;
}
.box-media .content-home-page .title-about {
  font-family: SVN-SVN-A-Love-Of-Thunder;
  color: #e91a22;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 48px;
}
@media (max-width: 768px) {
  .box-media .content-home-page .title-about {
    font-size: 29px;
    margin-bottom: 20px;
  }
}
.box-media .content-home-page .about-description {
  color: #625b5b;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .box-media .content-home-page .about-description {
    margin-bottom: 20px;
  }
}
.box-media .content-home-page .btn-see-about {
  background: #e91a22;
  border-radius: 8px;
  padding: 10px 24px;
  color: #fff;
  margin-bottom: 30px;
}
.box-media .content-home-page .btn-see-about:hover {
  background: #a51218;
}
.box-media .list-media .row .col-md-6:nth-child(2) {
  margin-top: 80px;
}
@media (min-width: 512px) and (max-width: 1023px) {
  .box-media .list-media .row .col-md-6:nth-child(2) {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .box-media .list-media .row .col-md-6:nth-child(2) {
    margin-top: 0;
  }
}
.box-media .list-media .row .col-md-6:nth-child(3) {
  margin-top: -80px;
}
@media (min-width: 512px) and (max-width: 1023px) {
  .box-media .list-media .row .col-md-6:nth-child(3) {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .box-media .list-media .row .col-md-6:nth-child(3) {
    margin-top: 0;
  }
}
.box-media .list-media .row .col-md-6:nth-child(4) .content-media-home {
  margin-bottom: 0;
}
@media (min-width: 512px) and (max-width: 1023px) {
  .box-media .list-media .row .col-md-6:nth-child(4) .content-media-home {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .box-media .list-media .row .col-md-6:nth-child(4) .content-media-home {
    margin-top: 0;
  }
}
.box-media .list-media .content-media-home {
  border-radius: 8px;
  overflow: hidden;
  background: linear-gradient(180deg, #620b0e 0%, #800e13 100%);
  margin-bottom: 40px;
  position: relative;
}
.box-media .list-media .content-media-home img:first-child {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .box-media .list-media .content-media-home img:first-child {
    width: 100%;
  }
}
.box-media .list-media .content-media-home span {
  display: block;
}
.box-media .list-media .content-media-home .title-media-item {
  overflow: hidden;
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  text-overflow: ellipsis;
  whitespace: nowrap;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}
.box-media .list-media .content-media-home .title-media-item span {
  max-height: 25px;
  overflow: hidden;
  display: block;
}
.box-media .list-media .content-media-home:hover {
  background: none;
}
.box-media .list-media .content-media-home:hover span img:first-child {
  transform: scale(1.3);
}
.box-media .list-media .content-media-home:hover .for-hover {
  position: absolute;
  background: linear-gradient(180deg, rgba(128, 14, 19, 0) 0%, #620b0e 100%);
  width: 100%;
  height: 100%;
  top: 0;
}
.box-media .list-media .content-media-home:hover .title-media-item {
  background: none;
  position: relative;
  z-index: 1;
  transform: translateY(-100%);
  padding: 0px;
}
.box-media .list-media .content-media-home:hover .title-media-item span {
  max-height: unset;
}
@media (max-width: 768px) {
  .box-media .list-media .content-media-home {
    margin-bottom: 20px;
  }
}
.box-media .list-media .for-video .play-youtube-video {
  position: absolute;
  z-index: 1;
}
@media (max-width: 768px) {
  .box-media {
    padding: 50px 0;
  }
}

.box-new {
  background: url(/images/bg_news.jpg?a2b11265da113077b2d425d4c8132925) no-repeat center top;
  background-size: cover;
  padding: 120px 0;
}
.box-new .title-box-new {
  font-family: SVN-SVN-A-Love-Of-Thunder;
  color: #e9b941;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .box-new .title-box-new {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.box-new .article-list-home .article-item {
  padding: 0 24px;
}
.box-new .article-list-home .article-item .article-item-content {
  border-radius: 8px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.28);
}
.box-new .article-list-home .article-item .article-item-content img {
  transition: transform 0.3s ease-in-out;
}
.box-new .article-list-home .article-item .article-item-content a:first-child {
  display: block;
  max-height: 236px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .box-new .article-list-home .article-item .article-item-content a:first-child {
    max-height: 200px;
  }
}
.box-new .article-list-home .article-item .article-item-content .box-content-article {
  color: #fff;
  padding: 24px;
}
.box-new .article-list-home .article-item .article-item-content .box-content-article .calendar-new {
  font-size: 14px;
  margin-bottom: 12px;
  color: rgba(253, 232, 233, 0.68);
}
.box-new .article-list-home .article-item .article-item-content .box-content-article .title-article {
  overflow: hidden;
  color: var(--primary-primary-50, #fde8e9);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: GoogleSans-Bold;
  margin-bottom: 12px;
  max-height: 52px;
}
@media (max-width: 768px) {
  .box-new .article-list-home .article-item .article-item-content .box-content-article .title-article {
    white-space: unset;
  }
}
.box-new .article-list-home .article-item .article-item-content .box-content-article .description-article {
  font-size: 14px;
  margin-bottom: 0;
  color: rgba(253, 232, 233, 0.68);
  max-height: 70px;
  overflow: hidden;
}
.box-new .article-list-home .article-item .article-item-content:hover img {
  transform: scale(1.2);
}
.box-new .article-list-home .article-item .article-item-content:hover .box-content-article {
  color: #fff;
}
.box-new .article-list-home .article-item .article-item-content:hover .box-content-article .calendar-new {
  color: #fff;
}
.box-new .article-list-home .article-item .article-item-content:hover .box-content-article .title-article {
  color: #e4a812;
}
.box-new .article-list-home .article-item .article-item-content:hover .box-content-article .description-article {
  color: #fff;
}
@media (max-width: 768px) {
  .box-new .article-list-home .article-item {
    padding: unset;
  }
}
@media (max-width: 768px) {
  .box-new {
    padding: 50px 0 30px;
  }
}
