.top-content {
  margin-bottom: 88px;
}
.top-content .slider-nav-slide-home {
  margin-top: -80px;
}
.top-content .slider-nav-slide-home .slick-list {
  padding-top: 20px;
}
.top-content .slider-nav-slide-home .img-slide-item {
  padding: 0 8px;
}
.top-content .slider-nav-slide-home .slick-active img {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  overflow: hidden;
}
.top-content .slider-nav-slide-home .slick-current {
  margin-top: -20px;
}
.top-content .slider-nav-slide-home .slick-current img {
  border: 2px solid #F3D792;
}

.page-about {
  margin-bottom: 120px;
}
.page-about .img-about img {
  border-radius: 30px;
  overflow: hidden;
}
.page-about .content-home-page .hashtag-about {
  color: #E4A812;
  font-family: SVN-SVN-A-Love-Of-Thunder;
  margin-bottom: 20px;
  font-size: 20px;
  font-style: normal;
  text-transform: uppercase;
}
.page-about .content-home-page .title-about {
  font-family: SVN-SVN-A-Love-Of-Thunder;
  color: #E91A22;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 48px;
}
.page-about .content-home-page .about-description {
  color: #625B5B;
  margin-bottom: 50px;
}
.page-about .content-home-page .btn-see-about {
  background: #E91A22;
  border-radius: 8px;
  padding: 10px 24px;
  color: #fff;
}
.page-about .content-home-page .btn-see-about:hover {
  background: #A51218;
}

.box-order {
  background: url(/images/bg-order.jpg?abc302b7ec4ae570eeeccafb71aa8a27) no-repeat center top;
  background-size: cover;
  padding: 120px 0;
}
@media (max-width: 768px) {
  .box-order .ps-5 {
    padding-left: 1rem !important;
  }
}
.box-order .title-order {
  color: #E9B941;
  font-family: SVN-SVN-A-Love-Of-Thunder;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.box-order .product-home #myTabProduct {
  border: none;
  margin-bottom: 36px;
}
.box-order .product-home #myTabProduct li {
  margin-right: 8px;
}
.box-order .product-home #myTabProduct li .nav-link {
  border: none;
  border-radius: 8px;
  background: rgba(26, 3, 4, 0.12);
  padding: 8px 16px;
  color: #FDE8E9;
  font-size: 14px;
  text-transform: uppercase;
}
.box-order .product-home #myTabProduct li .active {
  background: #A51218;
}
.box-order .product-home #myTabContentProduct .item-product {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.28);
  margin-bottom: 16px;
  padding: 16px;
}
.box-order .product-home #myTabContentProduct .item-product img {
  max-width: 120px;
  border-radius: 4px;
}
.box-order .product-home #myTabContentProduct .item-product .info-title-product {
  width: 70%;
  display: flex;
}
.box-order .product-home #myTabContentProduct .item-product .info-title-product p {
  margin-bottom: 0;
  max-height: 26px;
  overflow: hidden;
}
.box-order .product-home #myTabContentProduct .item-product .info-title-product .title-product-box {
  color: #FDE8E9;
  font-family: GoogleSans-Bold;
  text-transform: uppercase;
}
.box-order .product-home #myTabContentProduct .item-product .info-title-product .price-product-box {
  color: #E9B941;
  text-align: right;
  font-size: 18px;
  font-family: GoogleSans-Bold;
}
@media (max-width: 768px) {
  .box-order .product-home #myTabContentProduct .item-product .info-title-product {
    width: 100%;
    display: block;
    margin-left: 20px;
  }
  .box-order .product-home #myTabContentProduct .item-product .info-title-product .price-product-box {
    text-align: left;
  }
}
.box-order .product-home #myTabContentProduct .see-all-product {
  border-radius: 8px;
  background: rgba(26, 3, 4, 0.12);
  padding: 15px 24px;
  font-size: 14px;
  color: #fff;
  display: inline-block;
}
.box-order .des-order {
  color: #fff;
  margin-bottom: 40px;
}
.box-order form input, .box-order form select, .box-order form textarea {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.16);
  border: none;
  padding: 12px 20px;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.32);
}
.box-order form input::-webkit-input-placeholder, .box-order form select::-webkit-input-placeholder, .box-order form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.32);
}
.box-order form select {
  color: rgba(255, 255, 255, 0.32);
}
.box-order form option[value=""][disabled] {
  display: none;
}
.box-order form option {
  color: #fff;
}
.box-order form .btn-order-now {
  width: 100%;
  text-align: center;
  border-radius: 8px;
  background: var(--primary-primary-500, #E91A22);
  box-shadow: 24px 24px 64px 0px rgba(233, 26, 34, 0.32);
  color: #fff;
  text-transform: uppercase;
  padding: 15px;
}
.box-order form .btn-order-now:hover {
  background: #A51218;
}
@media (max-width: 768px) {
  .box-order form select {
    width: 100%;
  }
}

.box-media {
  padding: 120px 0;
}
.box-media .content-home-page .hashtag-about {
  color: #E4A812;
  font-family: SVN-SVN-A-Love-Of-Thunder;
  margin-bottom: 20px;
  font-size: 20px;
  font-style: normal;
  text-transform: uppercase;
}
.box-media .content-home-page .title-about {
  font-family: SVN-SVN-A-Love-Of-Thunder;
  color: #E91A22;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 48px;
}
.box-media .content-home-page .about-description {
  color: #625B5B;
  margin-bottom: 50px;
}
.box-media .content-home-page .btn-see-about {
  background: #E91A22;
  border-radius: 8px;
  padding: 10px 24px;
  color: #fff;
  margin-bottom: 30px;
}
.box-media .content-home-page .btn-see-about:hover {
  background: #A51218;
}
.box-media .list-media .content-media-home {
  border-radius: 8px;
  overflow: hidden;
  background: linear-gradient(180deg, #620B0E 0%, #800E13 100%);
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 768px) {
  .box-media .list-media .content-media-home img:first-child {
    width: 100%;
    transition: transform 2s;
  }
}
.box-media .list-media .content-media-home span {
  display: block;
}
.box-media .list-media .content-media-home .title-media-item {
  overflow: hidden;
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  text-overflow: ellipsis;
  whitespace: nowrap;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}
.box-media .list-media .content-media-home .title-media-item span {
  max-height: 25px;
  overflow: hidden;
  display: block;
}
.box-media .list-media .content-media-home:hover {
  background: none;
}
.box-media .list-media .content-media-home:hover span img:first-child {
  transform: scale(1.3);
}
.box-media .list-media .content-media-home:hover .for-hover {
  position: absolute;
  background: linear-gradient(180deg, rgba(128, 14, 19, 0) 0%, #620B0E 100%);
  width: 100%;
  height: 100%;
  top: 0;
}
.box-media .list-media .content-media-home:hover .title-media-item {
  background: none;
  position: relative;
  z-index: 1;
  transform: translateY(-100%);
  padding: 0px;
}
.box-media .list-media .content-media-home:hover .title-media-item span {
  max-height: unset;
}
.box-media .list-media .for-video .play-youtube-video {
  position: absolute;
  z-index: 1;
}

.box-new {
  background: url(/images/bg_news.jpg?a2b11265da113077b2d425d4c8132925) no-repeat center top;
  background-size: cover;
  padding: 120px 0;
}
.box-new .title-box-new {
  font-family: SVN-SVN-A-Love-Of-Thunder;
  color: #E9B941;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.box-new .article-list-home .article-item {
  padding: 0 24px;
}
.box-new .article-list-home .article-item .article-item-content {
  border-radius: 8px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.28);
  transition: transform 0.3s;
}
.box-new .article-list-home .article-item .article-item-content a:first-child {
  display: block;
  max-height: 236px;
  overflow: hidden;
}
.box-new .article-list-home .article-item .article-item-content .box-content-article {
  color: #fff;
  padding: 24px;
}
.box-new .article-list-home .article-item .article-item-content .box-content-article .calendar-new {
  font-size: 14px;
  margin-bottom: 12px;
  color: rgba(253, 232, 233, 0.68);
}
.box-new .article-list-home .article-item .article-item-content .box-content-article .title-article {
  overflow: hidden;
  color: var(--primary-primary-50, #FDE8E9);
  text-overflow: ellipsis;
  whitespace: nowrap;
  font-family: GoogleSans-Bold;
  margin-bottom: 12px;
  max-height: 52px;
}
.box-new .article-list-home .article-item .article-item-content .box-content-article .description-article {
  font-size: 14px;
  margin-bottom: 0;
  color: rgba(253, 232, 233, 0.68);
  max-height: 70px;
  overflow: hidden;
}
.box-new .article-list-home .article-item .article-item-content:hover img {
  transform: scale(1.2);
}
.box-new .article-list-home .article-item .article-item-content:hover .box-content-article {
  color: #fff;
}
.box-new .article-list-home .article-item .article-item-content:hover .box-content-article .calendar-new {
  color: #fff;
}
.box-new .article-list-home .article-item .article-item-content:hover .box-content-article .title-article {
  color: #E4A812;
}
.box-new .article-list-home .article-item .article-item-content:hover .box-content-article .description-article {
  color: #fff;
}
