.top-content-products {
  padding-top: 80px;
}
.top-content-products .title-page {
  font-family: SVN-SVN-A-Love-Of-Thunder;
  color: #E91A22;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 45px;
  text-align: center;
}
.top-content-products .list-menu-page {
  text-align: center;
  margin-bottom: 45px;
}
.top-content-products .list-menu-page li {
  display: inline-block;
  margin-right: 16px;
}
.top-content-products .list-menu-page li a {
  border-radius: 8px;
  background: #F9ECCB;
  display: block;
  color: #620B0E;
  padding: 8px 16px;
  min-width: 100px;
}
.top-content-products .list-menu-page li .active {
  color: #fff;
  background: #E91A22;
}

.list-products-home .mg-for-product {
  margin: 0 -24px;
}
.list-products-home .item-product {
  margin-bottom: 24px;
  padding: 0 24px;
}
.list-products-home .item-product .image-product-item {
  overflow: hidden;
}
.list-products-home .item-product .image-product-item img {
  transition: transform 0.3s ease-in-out;
}
.list-products-home .item-product .image-product-item .add-to-cart-cat {
  display: none;
  transition: transform 0.3s ease-in-out;
}
.list-products-home .item-product .image-product-item .add-to-cart-cat ul li a, .list-products-home .item-product .image-product-item .add-to-cart-cat ul li button {
  min-width: 183px;
  font-family: GoogleSans-Bold;
  height: 48px;
  line-height: 30px;
}
.list-products-home .item-product .image-product-item .add-to-cart-cat ul li a {
  margin-bottom: 5px;
}
.list-products-home .item-product .image-product-item .add-to-cart-cat ul li button {
  color: #620B0E;
}
.list-products-home .item-product .image-product-item .bg-hover-black {
  background: rgba(14, 2, 2, 0.7);
  display: none;
}
.list-products-home .item-product .box-item-detail {
  padding-top: 24px;
  padding-bottom: 24px;
}
.list-products-home .item-product .box-item-detail .title-product {
  text-transform: uppercase;
  font-family: GoogleSans-Bold;
  margin-bottom: 16px;
  color: #000;
}
.list-products-home .item-product .box-item-detail .price-product {
  color: #E91A22;
  margin-bottom: 0;
  font-size: 20px;
  font-family: GoogleSans-Bold;
}
.list-products-home .item-product:hover .image-product-item img {
  transform: scale(1.3);
}
.list-products-home .item-product:hover .image-product-item .add-to-cart-cat {
  display: block;
}
.list-products-home .item-product:hover .image-product-item .bg-hover-black {
  display: block;
}
.list-products-home .item-product:hover .box-item-detail {
  background: #FBF1D9;
  padding: 24px;
}
