.top-content-media {
  padding-top: 80px;
}
.top-content-media .title-page {
  font-family: SVN-SVN-A-Love-Of-Thunder;
  color: #E91A22;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 45px;
  text-align: center;
}

.list-news-home {
  margin-bottom: 80px;
}
