.navbar-finalstyle {
  background: #E8FFF6;
}
.navbar-finalstyle .navbar-brand .logo-fs {
  max-height: 64px;
}
.navbar-finalstyle #main-menu ul li a {
  font-weight: 700;
}
.navbar-finalstyle #main-menu ul li a:hover {
  color: #007EC3;
}

#app > .content .top-content {
  background: linear-gradient(180deg, #E8FFF6 0%, #FFFFFF 100%);
}
#app > .content .content-why {
  background: linear-gradient(180deg, #FFFFFF 0%, #E8FFF6 100%);
}
#app > .content .content-design-app {
  background: linear-gradient(180deg, #E8FFF6 0%, #FFFFFF 100%);
}
#app > .content .content-customer {
  background: linear-gradient(180deg, #FFFFFF 0%, #E8FFF6 100%);
}
#app > .content .content-jobs-we {
  background: linear-gradient(180deg, #E8FFF6 0%, #FFFFFF 100%);
}
#app > .content .content-news {
  background: linear-gradient(180deg, #FFFFFF 0%, #E8FFF6 100%);
}

.main-footer {
  background: #141515;
}
